body {
    background-color: aliceblue;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.flex {
    display: flex;
}

.steps-container {
    margin: 2rem 0;

}



.max-value {
    margin: 0 7rem;

}
